#忽略所有.class文件
*.class

#忽略所有包文件
*.war
*.ear

#maven打包文件
target/

#所有eclipse相关文件
.settings/
.project
.classpath

#所有idea相关
.idea/
/idea/
*.ipr
*.iml
*.iws

#所有临时文件
*.log
*.chage
*.diff
*.patch
*.tmp

#系统相关文件忽略
.DS_Store
Thumbs.db